.main{
    /* height: 1000px; */
    overflow: hidden;
    /* min-height: 100vh;
    position: relative; */
    display: flex;
  flex-direction: column;
  min-height: 120vh; 
}

.main-text{
    position: relative;
    left: 350px;
    top: 200px;
    color: rgb(30, 18, 18);
    font-family: cursive;
    font-size: 80px;
}

.main-text:hover{
    color: black;
    transform: rotate(-2deg);
    transition-duration: 0.5s;
}

.main-subtext{
    position: relative;
    left: 400px;
    top: 220px;
    color: rgb(30, 18, 18);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
    font-weight: bold;
}

.main-subtext:hover{
    left: 300px;
    color: black;
    font-size: 30px;
    transition-duration: 1s;
    background-color: rgb(99, 73, 73,0.8);
}

.main-link{
    position: relative;
    left: 230px;
    top: 240px;
    color: rgb(30, 18, 18);
    text-decoration: none;
}

.main-link:hover{
    transform: translate(0px,-3px);
    color: black;
    transition-duration: 0.5s;
}

