.header{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.headerContent{
    color: rgb(30, 18, 18);
    padding: 5px;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 18px;
}

.headerContent:hover{
    /* text-decoration: underline;
    padding-bottom: 2px; */
    color: black;
    transform: translate(0px,-3px);
    transition-duration: 0.5s;
}

